<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192425274037-o717vgvfmraisbiors54ti2foadrto89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192425274037-o717vgvfmraisbiors54ti2foadrto89</string>
	<key>API_KEY</key>
	<string>AIzaSyBEz7L3syKgJkmwBr1AbyQC1HR5LsJsV3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>192425274037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adhikagunadarma.example.catanddogencyclopedia.cat</string>
	<key>PROJECT_ID</key>
	<string>cat-dog-encylopedia</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-dog-encylopedia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192425274037:ios:502c97515fc3c159ed6cfc</string>
	<key>DATABASE_URL</key>
	<string>https://cat-dog-encylopedia.firebaseio.com</string>
</dict>
</plist>